.FooterMain .footer-block1 {
  margin: 40px auto 20px;
  width: 1210px;
  height: 200px; }

.focus_us {
  float: left; }
  .focus_us .us_title {
    margin-bottom: 19px;
    font-size: 22px;
    line-height: 33px;
    color: #333;
    text-align: left;
    font-weight: normal; }
  .focus_us li {
    margin-right: 30px;
    float: left;
    text-align: center; }
    .focus_us li img {
      width: 85px;
      height: 85px;
      margin-bottom: 3px; }
    .focus_us li p {
      font-size: 12px;
      line-height: 20px;
      color: #030303;
      text-align: center; }
    .focus_us li a {
      font-size: 12px;
      line-height: 20px;
      color: #4c9fe1; }

.sony_detail {
  margin-top: 13px;
  border-left: 1px solid #c6c6c6;
  width: 790px;
  height: 148px;
  float: right; }
  .sony_detail p {
    padding-top: 20px;
    padding-left: 9px;
    font-size: 12px;
    line-height: 18px;
    color: #8a8d91; }

.FooterMain .footer-block2 {
  color: #6a6a6a;
  padding: 30px 0 50px 0;
  background-color: #000; }
  .FooterMain .footer-block2 .block-w {
    width: 1210px;
    margin: 0 auto; }

.footer-block2 .block_top {
  width: 100%;
  height: 256px;
  border-bottom: 1px solid #969696; }

.footer-block2 .block_center {
  padding: 15px 0 15px 0;
  color: #fff; }
  .footer-block2 .block_center a {
    color: #fff;
    margin: 0 42px 0 0;
    line-height: 18px; }
  .footer-block2 .block_center span {
    line-height: 18px;
    float: right; }

.footer-block2 .block_bottom {
  padding-bottom: 15px; }
  .footer-block2 .block_bottom .gongan {
    padding-left: 30px;
    position: relative; }
    .footer-block2 .block_bottom .gongan img {
      position: absolute;
      left: 0;
      top: -6px; }
  .footer-block2 .block_bottom span {
    line-height: 18px; }
    .footer-block2 .block_bottom span a {
      color: #6a6a6a; }
    .footer-block2 .block_bottom span:not(:last-child) {
      margin-right: 25px; }
    .footer-block2 .block_bottom span:last-child {
      float: right; }
      .footer-block2 .block_bottom span:last-child a {
        color: #1c2bc7; }

.footer-block2 .block_top .footer_title .a1, .footer-block2 .block_top .footer_title p {
  font-size: 14px;
  line-height: 19px;
  color: #fff; }

.footer-block2 .block_top .footer_title p {
  margin: 40px 0 20px;
  font-weight: lighter; }

.footer-block2 .block_top .footer_title .a2, .footer-block2 .block_top .footer_title .a3 {
  line-height: 16px;
  margin-bottom: 15px;
  color: #6a6a6a;
  display: block;
  background: url(../public/images/footer-icon_03.png) no-repeat;
  background-position: 100% 0px; }
  .footer-block2 .block_top .footer_title .a2:hover, .footer-block2 .block_top .footer_title .a3:hover {
    background: url(../public/images/footer-icon-on03_03.png) no-repeat;
    background-position: 100% 0px; }

.footer-block2 .block_top .footer_title .a2 {
  width: 92px; }

.footer-block2 .block_top .footer_title .a3 {
  width: 104px; }

.footer-block2 .block_top .footer_title a:hover {
  color: #009ffb; }

.footer-block2 .block_top .footer_focusUs {
  margin: 0 220px 0px 125px; }
  .footer-block2 .block_top .footer_focusUs li:first-child {
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: lighter; }
