li.hidden, div.hidden {
  display: none; }

#headerNav {
  background-color: #000; }
  #headerNav .head_content {
    width: 1210px;
    height: 65px;
    margin: 0 auto; }

#viceNav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000;
  display: none; }
  #viceNav .head_nav {
    width: 1210px;
    height: 65px;
    margin: 0 auto; }

#viceNav.on {
  display: block; }

.head_content .logo_img, .head_nav .logo_img {
  float: left;
  height: 100%; }
  .head_content .logo_img img, .head_nav .logo_img img {
    width: 100px;
    padding: 25px 0 0;
    margin: 0 12px 0 25px; }

.nav_list {
  float: left;
  margin-left: 60px;
  height: 65px; }
  .nav_list .nav_ul1 {
    height: 100%; }
    .nav_list .nav_ul1 > li {
      float: left;
      width: 122px;
      height: 100%;
      border-top: 1px solid #000;
      background: url(../public/images_header/nav_line.jpg) no-repeat 100% center; }
      .nav_list .nav_ul1 > li .sp1 {
        padding-left: 20px;
        display: block;
        line-height: 64px;
        font-size: 16px;
        color: #fff;
        padding-right: 16px;
        background: url(../public/images_header/dot_down_black.jpg) no-repeat 80% center; }
    .nav_list .nav_ul1 > li:last-child {
      background-image: none; }

.nav_list .nav_ul1 .nav_li1 {
  position: relative; }
  .nav_list .nav_ul1 .nav_li1 > ul {
    opacity: 0;
    top: 130%;
    display: none;
    position: absolute;
    right: 0px;
    background-color: #eeeeee; }
    .nav_list .nav_ul1 .nav_li1 > ul > li {
      font-size: 14px;
      padding: 0 45px 0 30px;
      background: url(../public/images_header/arrow.png) no-repeat 92% center; }
      .nav_list .nav_ul1 .nav_li1 > ul > li:last-child > a {
        border: 0; }
      .nav_list .nav_ul1 .nav_li1 > ul > li > a {
        display: block;
        width: 169px;
        padding: 9px 0;
        border-bottom: 1px solid #fff;
        font-size: 14px; }

.nav_list .nav_ul1 a:hover {
  color: #0A83D7; }

.nav_list .nav_ul1 .sp_towhite:hover {
  background-image: none;
  background-color: #fff;
  border-top: 1px solid #eee; }
  .nav_list .nav_ul1 .sp_towhite:hover > ul {
    display: block; }
  .nav_list .nav_ul1 .sp_towhite:hover > ul {
    opacity: 1;
    top: 100%;
    transition: 0.5s linear; }
  .nav_list .nav_ul1 .sp_towhite:hover .sp1 {
    color: #000;
    background: url(../public/images_header/dot_down_blue.jpg) no-repeat 80% center; }
  .nav_list .nav_ul1 .sp_towhite:hover .sp1:hover {
    color: #0A83D7; }

.nav_list .nav_li1 .li1_ul {
  position: relative; }
  .nav_list .nav_li1 .li1_ul li:hover .content_d {
    opacity: 1;
    transition: 0.5s linear;
    display: block; }
  .nav_list .nav_li1 .li1_ul li .content_d {
    position: absolute;
    height: 455px;
    width: 954px;
    left: 100%;
    top: 0px;
    opacity: 0;
    padding: 10px;
    display: none; }
    .nav_list .nav_li1 .li1_ul li .content_d .img_d {
      position: absolute;
      height: 435px;
      width: 217.5px;
      top: 10px;
      right: 10px;
      background-color: #009ffb; }
      .nav_list .nav_li1 .li1_ul li .content_d .img_d img {
        width: 100%;
        height: 100%; }
    .nav_list .nav_li1 .li1_ul li .content_d .txt_d {
      width: 706.5px;
      height: 395px;
      position: absolute;
      top: 10px;
      left: 10px; }
      .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan {
        width: 176.5px;
        float: left;
        padding-right: 30px; }
        .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li {
          padding: 6px 0; }
          .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li span {
            font-weight: 900; }
          .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li a {
            font-size: 12px; }
          .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li a.icon_new {
            padding-right: 30px;
            background: url(../public/images_header/new_03.png) no-repeat 100% center; }
          .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li:first-child {
            border-bottom: 1px solid #ccc; }
            .nav_list .nav_li1 .li1_ul li .content_d .txt_d .kuozhan li:first-child a {
              font-size: 14px;
              font-weight: 700;
              padding-right: 10px;
              background: url(../public/images_header/sub_arrow.png) no-repeat 100% center; }
    .nav_list .nav_li1 .li1_ul li .content_d .phone_d {
      position: absolute;
      height: 30px;
      width: 706.5px;
      bottom: 10px;
      left: 10px;
      text-align: center;
      padding-top: 7px;
      border-top: 1px  solid  #ccc; }
      .nav_list .nav_li1 .li1_ul li .content_d .phone_d span:first-child {
        font-size: 14px; }
      .nav_list .nav_li1 .li1_ul li .content_d .phone_d span:last-child {
        font-size: 18px;
        font-weight: bold; }

.nav_list .nav_ul1 .nav_li2 {
  position: relative; }
  .nav_list .nav_ul1 .nav_li2:hover .main_block {
    display: block; }
  .nav_list .nav_ul1 .nav_li2 .main_block {
    position: absolute;
    padding: 30px 0 0 0px;
    display: none;
    height: 455px;
    width: 970px;
    left: -180%;
    top: 100%; }
    .nav_list .nav_ul1 .nav_li2 .main_block .block_content {
      width: 100%;
      height: 365px; }
      .nav_list .nav_ul1 .nav_li2 .main_block .block_content > div {
        width: 14.28%;
        border-right: 1px solid #ccc;
        float: left;
        height: 100%; }
        .nav_list .nav_ul1 .nav_li2 .main_block .block_content > div:last-child {
          border: none; }
      .nav_list .nav_ul1 .nav_li2 .main_block .block_content ul {
        padding-left: 10px; }
        .nav_list .nav_ul1 .nav_li2 .main_block .block_content ul span {
          font-size: 14px;
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 10px;
          display: block; }
        .nav_list .nav_ul1 .nav_li2 .main_block .block_content ul li {
          padding: 5px 0; }
          .nav_list .nav_ul1 .nav_li2 .main_block .block_content ul li:last-child {
            padding: 5px 0 20px; }
    .nav_list .nav_ul1 .nav_li2 .main_block .block_phone {
      margin: 20px 0 0 10px;
      width: 940px;
      height: 30px;
      text-align: left;
      padding-top: 7px;
      border-top: 1px  solid  #ccc; }
      .nav_list .nav_ul1 .nav_li2 .main_block .block_phone span:first-child {
        font-size: 14px; }
      .nav_list .nav_ul1 .nav_li2 .main_block .block_phone span:last-child {
        font-size: 18px;
        font-weight: bold; }

.input_sea {
  float: left; }
  .input_sea input {
    box-sizing: border-box;
    width: 229px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 12.5px;
    margin: 20px 0 0  10px;
    padding: 0 35px 0 12.5px;
    font-size: 12px;
    background-image: url(../public/images_header/btn_search_03.jpg);
    background-repeat: no-repeat;
    background-position: 90% center; }

.shopping {
  float: right;
  width: 48px;
  height: 65px;
  position: relative;
  background: url(../public/images_header/icon_shopping_1.png) 13px 17px no-repeat; }
  .shopping .shopping_num {
    width: 19px;
    color: #fff;
    position: absolute;
    top: 15px;
    font-size: 12px;
    left: 22px;
    border-radius: 50%;
    height: 19px;
    text-align: center;
    line-height: 19px;
    font-weight: 500; }
  .shopping .shopping_main {
    position: absolute;
    width: 500px;
    top: 64px;
    right: 0px; }

.shopping .shopping_main {
  display: none; }
  .shopping .shopping_main .s_name {
    padding: 0 5px;
    overflow-y: scroll; }
    .shopping .shopping_main .s_name .name_li {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc; }
      .shopping .shopping_main .s_name .name_li:last-child {
        border: none; }
      .shopping .shopping_main .s_name .name_li img {
        widtg: 35px;
        height: 35px;
        vertical-align: middle; }
      .shopping .shopping_main .s_name .name_li span {
        vertical-align: middle;
        display: inline-block; }
      .shopping .shopping_main .s_name .name_li .sp1 {
        padding-left: 10px;
        width: 200px; }
      .shopping .shopping_main .s_name .name_li .sp2 {
        width: 30px; }
      .shopping .shopping_main .s_name .name_li .sp3 {
        width: 40px; }
      .shopping .shopping_main .s_name .name_li .sp4 {
        width: 100px;
        color: dodgerblue; }
      .shopping .shopping_main .s_name .name_li a {
        vertical-align: middle;
        color: #333; }
  .shopping .shopping_main .s_total {
    padding: 15px 20px;
    background-color: #f1f1f1; }
    .shopping .shopping_main .s_total span {
      vertical-align: sub; }
    .shopping .shopping_main .s_total .sp1 {
      font-size: 14px; }
    .shopping .shopping_main .s_total .sp2 {
      font-weight: bold;
      font-size: 18px;
      color: deepskyblue; }
    .shopping .shopping_main .s_total a {
      display: inline-block;
      height: 35px;
      font-size: 16px;
      width: 120px;
      color: #fff;
      background-color: deepskyblue;
      margin-left: 170px;
      border-radius: 3px;
      text-align: center;
      line-height: 35px; }

.shopping:hover {
  background: url(../public/images_header/icon_shopping_1_hover.png) 13px 17px no-repeat;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .shopping:hover .shopping_main {
    display: block; }

.login {
  height: 65px;
  float: right;
  margin-right: 5px; }
  .login > ul > li {
    float: right; }
  .login li.hidden {
    display: none; }
  .login .li_tit {
    font-weight: 700;
    width: 122px;
    height: 100%;
    border-top: 1px solid #000;
    background: url(../public/images_header/nav_line.jpg) no-repeat 100% center;
    padding: 0 20px; }
    .login .li_tit span {
      display: block;
      line-height: 64px;
      font-size: 14px;
      color: #fff;
      background: url(../public/images_header/dot_down_black.jpg) no-repeat 100% center; }
  .login .bor_none {
    background: none; }

.login .li_login {
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #1fa8e2;
  background: url(../public/images_header/nav_line.jpg) no-repeat 100% center;
  line-height: 65px; }
  .login .li_login span {
    font-size: 14px;
    color: #fff;
    padding: 0 10px 0 20px;
    background: url(../public/images_header/reg_logo.png) no-repeat 0 0;
    line-height: 65px; }
  .login .li_login a {
    font-size: 14px;
    color: #1fa8e2; }

.login .li_tit {
  position: relative; }
  .login .li_tit .login_content {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    padding: 0 0 10px; }
    .login .li_tit .login_content a {
      display: block;
      width: 122px;
      padding: 0 25px; }
    .login .li_tit .login_content a > div {
      border-bottom: 1px solid #eee;
      color: #6d6d6d;
      text-align: center;
      height: 30px;
      position: relative; }
      .login .li_tit .login_content a > div .d1 {
        position: absolute;
        height: 29px;
        width: 100px;
        text-align: center;
        top: 0px;
        left: -14px;
        line-height: 29px; }

.login .li_tit:hover {
  background: none;
  background-color: #fff;
  border-top: 1px solid #ccc; }
  .login .li_tit:hover span {
    background: url(../public/images_header/dot_down_blue.jpg) no-repeat 100% center;
    color: #000; }

.login .li_tit:hover .login_content {
  display: block; }

.login .li_tit a:hover {
  color: #1fa8e2; }

#viceNav .nav_menu {
  margin: 5px 0 0 30px;
  float: left; }
  #viceNav .nav_menu .nav_ul .nav_li {
    float: left;
    padding: 0 10px 0 20px;
    position: relative;
    background: url(../public/images_header/nav_line.jpg) no-repeat right 21px; }
    #viceNav .nav_menu .nav_ul .nav_li:hover .li_ul {
      display: block; }
    #viceNav .nav_menu .nav_ul .nav_li a {
      display: block;
      padding-right: 15px;
      font-size: 12px;
      height: 46px;
      line-height: 55px;
      color: #fff;
      background: url(../public/images_header/dot_down_black.jpg) no-repeat 95% 26px; }
  #viceNav .nav_menu .nav_ul .li_ul {
    padding: 10px;
    position: absolute;
    top: 50px;
    left: -4px;
    display: none;
    background: url(../public/images_header/dot_up_black.jpg) no-repeat 17% 5px; }
    #viceNav .nav_menu .nav_ul .li_ul li {
      padding: 10px;
      width: 210px;
      background-color: #fff; }
