.bread_banner {
  padding: 15px 0; }
  .bread_banner .left {
    float: left;
    font-size: 14px;
    color: #a19ea7;
    line-height: 33px; }
    .bread_banner .left a {
      color: #a19ea7; }
  .bread_banner .right {
    float: right; }

#main .top_main {
  padding: 30px 0; }
  #main .top_main .main_left .m_img {
    width: 539px;
    height: 539px;
    border: 1px solid #ddd; }
    #main .top_main .main_left .m_img img {
      width: 537px;
      height: 537px; }
  #main .top_main .main_left .s_img {
    padding: 25px 0;
    width: 537px;
    height: 116px;
    background-color: #aaa; }
  #main .top_main .main_right {
    width: 653px; }
    #main .top_main .main_right .pro_title {
      margin: 8px 0 8px;
      color: #262626;
      font-size: 22px;
      line-height: 29px; }
    #main .top_main .main_right .pro_detail {
      margin: 0 0 12px;
      color: #706f6f;
      font-size: 14px;
      line-height: 19px; }
    #main .top_main .main_right .pro_price {
      padding: 10px 0 10px 22px;
      border-bottom: 1px dashed #dfdfdf; }
      #main .top_main .main_right .pro_price h3 {
        display: inline-block;
        color: #b1b1b1;
        font-size: 14px;
        width: 50px;
        text-align: right;
        margin-right: 15px;
        font-weight: lighter; }
      #main .top_main .main_right .pro_price span {
        color: #0a83d7;
        font-size: 16px;
        font-family: Arial; }
      #main .top_main .main_right .pro_price .zunxiang {
        padding-top: 16px; }
        #main .top_main .main_right .pro_price .zunxiang div {
          display: inline-block;
          margin-left: 12px;
          padding: 0 12px;
          color: #FFffff;
          background-color: #0a83d7;
          line-height: 22px; }
        #main .top_main .main_right .pro_price .zunxiang h3 {
          line-height: 22px; }
        #main .top_main .main_right .pro_price .zunxiang span {
          line-height: 22px;
          font-size: 22px; }
    #main .top_main .main_right .pro_select {
      padding: 14px 0 10px 22px;
      border-bottom: 1px dashed #dfdfdf; }
      #main .top_main .main_right .pro_select div {
        margin-bottom: 9px; }
        #main .top_main .main_right .pro_select div:last-child {
          margin-bottom: 0px; }
      #main .top_main .main_right .pro_select p, #main .top_main .main_right .pro_select a, #main .top_main .main_right .pro_select input {
        float: left; }
      #main .top_main .main_right .pro_select p {
        font-size: 14px;
        line-height: 34px;
        width: 50px;
        text-align: right;
        margin-right: 17px;
        color: #b1b1b1; }
      #main .top_main .main_right .pro_select a {
        width: 107px;
        height: 34px;
        color: #706f6f;
        border: 1px solid #cecece;
        margin-right: 12px;
        text-align: center;
        font-size: 14px;
        line-height: 32px; }
        #main .top_main .main_right .pro_select a:hover {
          border: 1px solid #0a83d7;
          background: url(../public/images/spec_icon.png) no-repeat;
          background-position: 100% 100%; }
      #main .top_main .main_right .pro_select .pro_color {
        text-align: center; }
        #main .top_main .main_right .pro_select .pro_color img {
          width: 22px;
          vertical-align: middle !important; }
        #main .top_main .main_right .pro_select .pro_color span {
          color: #706f6f;
          width: 55px;
          line-height: 32px;
          display: inline-block; }
      #main .top_main .main_right .pro_select .pro_num a {
        margin-right: 0px;
        width: 32px;
        height: 32px;
        color: #00549f;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        position: relative; }
        #main .top_main .main_right .pro_select .pro_num a:nth-child(2):before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url(../public/images/reduce.gif) center center no-repeat #f1f4f9; }
        #main .top_main .main_right .pro_select .pro_num a:last-child:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url(../public/images/add.gif) center center no-repeat #f1f4f9; }
        #main .top_main .main_right .pro_select .pro_num a:hover {
          border: 1px solid #cecece; }
      #main .top_main .main_right .pro_select .pro_num input {
        width: 40px;
        height: 32px;
        border: 0;
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        box-sizing: border-box;
        text-align: center;
        padding: 0px;
        outline: 0px; }
    #main .top_main .main_right .pro_join {
      padding: 10px 0 10px 22px;
      text-align: center; }
      #main .top_main .main_right .pro_join .join_2 {
        margin-left: 8px; }
    #main .top_main .main_right .pro_other {
      padding-left: 89px;
      color: #323232;
      position: relative; }
      #main .top_main .main_right .pro_other div {
        margin: 10px 0 0px;
        line-height: 18px; }
      #main .top_main .main_right .pro_other .d1 a {
        color: #26a8df;
        text-decoration: underline; }
      #main .top_main .main_right .pro_other p {
        position: absolute;
        top: -10px;
        left: 45px;
        font-size: 14px;
        color: #b1b1b1;
        line-height: 18px; }

#main .middle_main {
  padding-bottom: 50px; }
  #main .middle_main .title {
    font-size: 20px;
    color: #262626;
    padding-bottom: 15px;
    font-weight: 700; }
  #main .middle_main .ul_block {
    padding: 15px 0 15px 0;
    border: 1px solid #e4e4e4;
    margin-right: 10px; }
    #main .middle_main .ul_block ul {
      display: flex; }
    #main .middle_main .ul_block li {
      margin-left: 8px;
      width: 25%;
      border-right: 1px solid #e4e4e4; }
      #main .middle_main .ul_block li:last-child {
        border: 0px; }
      #main .middle_main .ul_block li .li_img {
        width: 120px;
        height: 120px;
        float: left;
        margin-top: 16px; }
      #main .middle_main .ul_block li .li_div {
        padding: 20px 0 0 12px;
        float: left; }
        #main .middle_main .ul_block li .li_div p {
          font-size: 14px;
          line-height: 19px; }
      #main .middle_main .ul_block li .li_tit {
        color: #6c6c6c; }
      #main .middle_main .ul_block li .li_price {
        color: #0a83d7; }
      #main .middle_main .ul_block li .li_detail {
        padding: 0 16px 0 0;
        margin-top: 16px;
        color: #0a83d7;
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        font-weight: lighter;
        background: url(../public/images/d_icon.png) no-repeat 100% center; }

#main .bottom_main {
  padding: 13px 0 8px 0;
  border-bottom: 2px solid #c7c6cb;
  background: url(../public/images/pro_info_bg_line.gif) repeat-x 0px 0px;
  background-size: 5px 5px; }
  #main .bottom_main .width_1210 {
    justify-content: space-between;
    align-items: center; }
  #main .bottom_main .bottom_left {
    font-size: 22px;
    padding-left: 25px;
    line-height: 38px; }
  #main .bottom_main .bottom_right .a1 img {
    width: 128px;
    height: 40px;
    margin-left: 5px; }
  #main .bottom_main .bottom_right ul {
    margin-top: 10px; }
  #main .bottom_main .bottom_right li {
    border-left: 1px solid #6c6c6c;
    padding: 0 15px;
    float: left; }
    #main .bottom_main .bottom_right li:first-child {
      border: 0px; }
    #main .bottom_main .bottom_right li a {
      font-size: 14px;
      color: #6c6c6c;
      line-height: 20px; }
      #main .bottom_main .bottom_right li a:hover {
        color: #00549f; }
    #main .bottom_main .bottom_right li a.blue {
      color: #0a83d7; }

.intro_main > div {
  display: none; }

.intro_main > div.opendiv {
  display: block !important; }

#support .sup_top {
  background-color: #f3f7f9; }
  #support .sup_top ul {
    padding: 50px 0px;
    display: flex; }
    #support .sup_top ul li {
      width: 20%;
      border-right: 1px solid #cccccc;
      text-align: center; }
      #support .sup_top ul li img {
        width: 36px;
        height: 28px; }
      #support .sup_top ul li p {
        font-size: 14px;
        color: #666;
        padding-top: 8px; }
      #support .sup_top ul li:hover p {
        color: #00549f; }
      #support .sup_top ul li:last-child {
        border: none; }
  #support .sup_top .two_block {
    padding-bottom: 40px; }
    #support .sup_top .two_block .one_b {
      width: 594px;
      height: 160px;
      margin-right: 10px;
      border: 1px solid #fff;
      background-color: #fff;
      display: block;
      float: left;
      text-align: center;
      border-radius: 10px; }
      #support .sup_top .two_block .one_b img {
        margin: 20px 0; }
      #support .sup_top .two_block .one_b .p1 {
        font-size: 18px;
        margin-top: 5px;
        color: #333; }
      #support .sup_top .two_block .one_b .p2 {
        font-size: 14px;
        margin-top: 5px;
        color: #666; }
      #support .sup_top .two_block .one_b:hover {
        border: 1px solid #3b9cdf; }

#support .sup_bottom .width_1210 {
  padding: 40px 0px;
  border-bottom: 1px dashed #dddddd; }

#support .sup_bottom .d1 {
  font-size: 20px;
  color: #333;
  float: left; }

#support .sup_bottom .d2 {
  font-size: 14px;
  float: right;
  line-height: 35px;
  width: 975px; }
  #support .sup_bottom .d2 a {
    color: #00549f; }

#detail .det_top .top_name {
  padding: 15px 0 35px 0;
  border-bottom: 1px solid #cccccc; }
  #detail .det_top .top_name img {
    vertical-align: middle !important; }
    #detail .det_top .top_name img:first-child {
      margin: 0 60px 0 189px; }
    #detail .det_top .top_name img:last-child {
      transform: rotate(180deg); }
  #detail .det_top .top_name span {
    vertical-align: middle !important;
    color: #747474;
    font-size: 24px;
    width: 300px;
    line-height: 45px;
    display: inline-block; }

#detail .det_top .top_title, #detail .det_bottom .top_title {
  padding: 10px 0 15px 0; }
  #detail .det_top .top_title div, #detail .det_bottom .top_title div {
    vertical-align: middle;
    width: 15px;
    height: 45px;
    background-color: #0a83d6;
    display: inline-block; }
  #detail .det_top .top_title span, #detail .det_bottom .top_title span {
    color: #747474;
    font-size: 24px;
    width: 300px;
    margin-left: 15px;
    vertical-align: middle; }

#detail .detail_table tr {
  display: block;
  margin-bottom: 20px;
  padding: 0px; }

#detail .detail_table tr.pbt {
  padding-top: 20px;
  border-top: 1px solid #cccccc; }

#detail .detail_table tr.pbb {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px; }

#detail .detail_table tr.pbb2 {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px; }

#detail .detail_table td {
  padding: 0px; }
  #detail .detail_table td:first-child {
    width: 130px;
    color: #999;
    font-size: 18px;
    line-height: 25px; }
  #detail .detail_table td:nth-child(2) {
    width: 170px;
    color: #333;
    font-size: 14px;
    line-height: 19px;
    padding-right: 10px;
    vertical-align: middle; }
  #detail .detail_table td:nth-child(3), #detail .detail_table td:nth-child(4), #detail .detail_table td:nth-child(5) {
    width: 296px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle; }
  #detail .detail_table td:nth-child(5) {
    width: 276px; }

#detail .det_bottom {
  background-color: #f8f8f8; }
  #detail .det_bottom .zhankai {
    position: relative; }
    #detail .det_bottom .zhankai .hidden {
      overflow: hidden;
      width: 200px;
      display: block;
      margin: 0 auto; }
    #detail .det_bottom .zhankai img {
      display: block; }
    #detail .det_bottom .zhankai .open {
      overflow: hidden;
      height: 0px;
      width: 100%;
      position: absolute;
      top: 82px;
      left: 0px;
      background-color: #f8f8f8;
      transition: 2s linear; }
    #detail .det_bottom .zhankai .go {
      height: 0px;
      width: 100px;
      transition: 2s linear; }
  #detail .det_bottom .hidden:hover .open {
    height: 1520px; }
  #detail .det_bottom .hidden:hover .go {
    height: 1520px; }

#detail .beizhu_table {
  margin: 10px 0 30px 0px; }
  #detail .beizhu_table td {
    padding: 0px;
    color: #999; }
    #detail .beizhu_table td:first-child {
      width: 130px;
      font-size: 18px;
      vertical-align: top; }
    #detail .beizhu_table td:nth-child(2) {
      width: 170px; }
    #detail .beizhu_table td:nth-child(3), #detail .beizhu_table td:nth-child(4), #detail .beizhu_table td:nth-child(5) {
      width: 296px;
      font-size: 12px;
      line-height: 16px; }
    #detail .beizhu_table td:nth-child(5) {
      width: 276px; }
