/*sonystyle 公共样式 common css*/
/*  */
/* 背景色f1f4f9 */
.bg-Grey{ background-color:#f1f4f9 }
.bg-white{ background-color:#fff;}
.bg-red{background-color:#dc2828}
.bg-blue{background-color:#0a83d7}
.bg-orange{background-color:#ff6131}
.bg-f5{background-color:#f5f5f5;}

.font-33{  color:#333;  }
.font-66{  color:#666;  }
.font-cc{  color:#ccc;  }
.font-ff{  color:#fff;  }

/* cf 高度坍塌*/
.cf:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.cf {
  *zoom: 1;
}
/*左右浮动*/
.float-l{
  float:left;
}
.float-r{
  float:right;
}
/*外边距*/
.mx-5{
  margin-left:5px;
  margin-right:5px;
}

.mx-2{
  margin-left:2px;
  margin-right:2px;
}

.mb-10{
  margin-bottom:10px;
}

.ml-20{
  margin-left:20px;
}

.pt-2{
  padding-top:2px;
}
/*溢出隐藏*/
.MBlock{
  overflow:hidden;
}

img{
  vertical-align: bottom !important;
}

.d-none{
  display:none;
}