.FooterMain{
  .footer-block1{
    margin:40px auto 20px;width:1210px;height:200px;
  }
}
.focus_us{
  float:left;
  .us_title{margin-bottom:19px;font-size:22px;line-height:33px;color:#333;text-align:left;font-weight:normal}
  ul{}
  li{margin-right:30px;
    float:left;text-align:center;
    img{width:85px;height:85px;margin-bottom:3px;}
    p{font-size:12px;line-height:20px;color:#030303;text-align:center;}
    a{font-size:12px;line-height:20px;color:#4c9fe1;}
  }
}

.sony_detail{
  margin-top:13px;border-left:1px solid #c6c6c6;width:790px;height:148px;float:right;
  p {
    padding-top:20px;padding-left:9px;
    font-size:12px;line-height:18px;color:#8a8d91;
  }
}

.FooterMain{
  .footer-block2{
    color:#6a6a6a;padding:30px 0 50px 0;background-color:#000;
    .block-w{width:1210px;margin:0 auto;}
  }
}

.footer-block2{
  .block_top{width:100%;height:256px;border-bottom: 1px solid #969696;}
}

.footer-block2{
  .block_center{
    padding:15px 0 15px 0;color:#fff;
    a{color:#fff;margin:0 42px 0 0;line-height:18px;}
    span{line-height:18px;float:right;}
  }
}

.footer-block2{
  .block_bottom{
    padding-bottom:15px;
    .gongan{
      padding-left:30px;position:relative;
      img{  position:absolute;left:0;top:-6px;  }
    }
    span{
      line-height:18px;
      a{color:#6a6a6a;}
      &:not(:last-child){  margin-right:25px;  }
      &:last-child{ float:right;
        a{color:#1c2bc7;}
      }
    }
  }
}