.bread_banner{
    padding:15px 0;
    .left{
        float:left;font-size:14px;color:#a19ea7;line-height:33px;
        a{color:#a19ea7;}
    }
    .right{
        float:right;
    }
}

#top_bar{
    background-color:#f6f6f6;
    .product_nav.proH{height:164px;}
    .product_nav{
        height:0;position:relative;overflow:hidden;transition:0.5s linear;
        .arr_left,.arr_right{position:absolute;background-image:url(../public/images_product/trigger_h_slide.gif);
            background-repeat:no-repeat;  width:26px;height:26px;
        }
        .arr_left.dis{opacity:0.3}
        .arr_right.dis{opacity:0.3}
        .arr_left{background-position:left top;top:55px;left:0px;}
        .arr_right{background-position:right top;top:55px;right:0px;}
        .car_main{
            width:1120px;height:144px;margin:10px auto;overflow: hidden;
            .car_ul{ width:2100px;transition:0.7s linear;
                a{float:left;}
            }
            .car_li{
                width:140px;height:144px;padding:0 10px;position:relative;
                .car_img{width:120px;height:120px;display:block;}
                .car_title{font-size:14px;margin-top:5px;color:#808080;line-height:19px;}
                .car_icon{position:absolute;width:18px;height:18px;top:0;right:10px;}
            }
        }
    }

    .trigger{
        cursor:pointer;
        padding:10px 0;background: url(../public/images_product/product_nav_bg.gif) no-repeat center bottom;
        .up{height:10px;background:url(../public/images_product/trigger_v_slide.gif) no-repeat  center bottom}
        .down{height:10px;background:url(../public/images_product/trigger_v_slide.gif) no-repeat  center top}
        .txt{line-height: 14px;color: #a5a5a5;font-size: 12px;margin-top: 6px;text-align: center;}
    }
}


#main{
    .top_main{
        padding: 30px 0;
        .main_left{
            .m_img{width:539px;height:539px;border:1px solid #ddd;position:relative;
                video{width:537px;height:537px;position:absolute;top:0;left:0px;z-index:10}
                a{width:100px;height:100px;background:url(../public/images_product/play.png) no-repeat;
                    position:absolute;top:50%;left:50%;margin:-50px 0 0 -50px;z-index: 5;
                }
                img{width:537px;height:537px;}
            }
            .s_img{padding:25px 0;width:537px; height:116px;background-color:#aaa;}
        }
        .main_right{
            width:653px;
            .pro_title{margin:8px 0 8px;color:#262626;font-size: 22px;line-height: 29px}
            .pro_detail{margin:0 0 12px;color:#706f6f;font-size: 14px;line-height: 19px}
            .pro_price{
                padding:10px 0 10px 22px;border-bottom: 1px dashed #dfdfdf;
                h3{display:inline-block;color:#b1b1b1;font-size:14px;width:50px;text-align: right;margin-right: 15px;font-weight: lighter}
                span{color: #0a83d7;font-size:16px;font-family:  Arial;}
                .zunxiang{
                    padding-top:16px;
                    div{display: inline-block;margin-left:12px;padding:0 12px;color:#FFffff;background-color:#0a83d7;line-height:22px;}
                    h3{line-height: 22px;}
                    span{line-height: 22px;font-size:22px;}

                }
            }
            .pro_select{
                padding:14px 0 10px 22px;    border-bottom: 1px dashed #dfdfdf;
                div{
                    margin-bottom:9px;
                    &:last-child{margin-bottom: 0px;}
                }
                p,a,input{float:left;}
                p{font-size:14px;line-height: 34px;width: 50px;text-align: right;
                    margin-right: 17px;color:#b1b1b1;
                }
                a{width:107px;height: 34px;color:#706f6f;border:1px solid #cecece;margin-right: 12px;text-align: center;font-size: 14px;line-height: 32px;
                    &:hover{border: 1px solid #0a83d7;background:url(../public/images/spec_icon.png) no-repeat;background-position: 100% 100%;}
                }
                .pro_color{
                    img{width:22px;vertical-align: middle !important;}
                    span{color:#706f6f;width:55px;line-height: 32px;display:inline-block}
                    text-align: center;
                }
                .pro_num{
                    a{margin-right: 0px;width:32px;height:32px;color:#00549f;font-size:12px;text-align: center;line-height:30px;position:relative;
                        &:nth-child(2):before{
                            content:"";position:absolute;width:100%;height: 100%;top:0;left:0;
                            background: url(../public/images/reduce.gif) center center no-repeat #f1f4f9;}
                        &:last-child:before{
                            content:"";position:absolute;width:100%;height: 100%;top:0;left:0;
                            background: url(../public/images/add.gif) center center no-repeat #f1f4f9;}
                        &:hover{border:1px solid #cecece;}
                    }
                    input{
                        width: 40px; height: 32px;border:0;border-top:1px solid #cecece;border-bottom:1px solid #cecece;box-sizing: border-box;text-align: center;padding:0px;outline: 0px;
                    }
                }
            }
            .pro_join{
                padding:10px 0 10px 22px;text-align: center;
                .join_1{}
                .join_2{
                    margin-left:8px;
                }
            }
            .pro_other{
                padding-left:89px;color:#323232;position:relative;
                div{margin:10px 0 0px;line-height: 18px;}
                .d1{
                    a{color:#26a8df;text-decoration: underline;}
                }
                p{
                    position: absolute;top:-10px;left:45px;font-size:14px;color:#b1b1b1;line-height: 18px;
                }
            }
        }
    }

    .middle_main{
        padding-bottom:50px;
        .title{
            font-size: 20px;  color: #262626;  padding-bottom: 15px; font-weight: 700;
        }
        .ul_block{
            padding: 15px 0 15px 0;  border: 1px solid #e4e4e4;margin-right:10px;
            ul{display: flex;}
            li{
                margin-left:8px;width:25%;border-right:1px solid #e4e4e4;
                &:last-child{border:0px;}
                .li_img{width:120px;height:120px;float:left;margin-top:16px;}
                .li_div{padding:20px 0 0 12px;float:left;
                    p{font-size:14px;line-height: 19px;}
                }
                .li_tit{color:#6c6c6c;}
                .li_price{color:#0a83d7;}
                .li_detail{padding:0 16px 0 0;margin-top:16px;color:#0a83d7;display:inline-block;
                    font-size:14px;line-height: 16px;font-weight: lighter;
                    background:url(../public/images/d_icon.png) no-repeat 100% center;
                }
            }
        }
    }
    .bottom_main{
        padding:13px 0 8px 0;border-bottom: 2px solid #c7c6cb;background:url(../public/images/pro_info_bg_line.gif)
        repeat-x 0px 0px;background-size:5px 5px;
        .width_1210{
            justify-content: space-between;align-items: center;
        }
        .bottom_left{font-size:22px;padding-left:25px;line-height: 38px}
        .bottom_right{
            .a1{
                img{width:128px;height: 40px;margin-left:5px}
            }
            ul{
                margin-top:10px;
            }
            li{
                border-left: 1px solid #6c6c6c;padding:0 15px;float:left;
                &:first-child{border:0px;}
                a{font-size:14px;color:#6c6c6c;line-height:20px;
                    &:hover{color:#00549f}
                }
                a.blue{color:#0a83d7;}
            }
        }
    }
}

#main{
    .top_main{
        .s_img{
            background-color: #fff !important; position:relative;
            .car{
               width:492px;height:100%;margin:0 auto;
                overflow: hidden;
            }
            .scroll_l,.scroll_r{width:18.5px;height:66px;position:absolute;background-color: red;
            }
            .scroll_l{top:25px;left:0px;
                background:url(../public/images_product/product_sliders.png) no-repeat left center;
                }
            .scroll_r{top:25px;right:0px; background:url(../public/images_product/product_sliders.png) no-repeat 100% center;}
            .scroll_ul{
                width:738px;  transition:0.4s linear;
                li{
                    float:left;width:66px;height:66px;
                    border:1px solid #ccc;margin:0 8px;
                    img{width:64px;height:64px;}
                }
                li.blue{
                    border:1px solid #009ffb;
                }
                li:first-child{
                    position:relative;
                    img:nth-child(2){
                        position:absolute;top:50%;left:50%;width:30px;height:30px;
                        margin:-15px 0 0 -15px;
                    }
                }

            }
        }
    }
}

.intro_main{
    >div{  display:none;  }
    >div.opendiv{display:block !important;}
}

.intro_mian{}

.intro_mian{}

#support{
    .sup_top{
        background-color:#f3f7f9;
        ul{
            padding:50px 0px;display:flex;
            li{
                width:20%;border-right: 1px solid #cccccc;text-align:center;
                img{width:36px;height:28px;}
                p{font-size:14px;color:#666;padding-top:8px;}
                &:hover p{color: #00549f;}
                &:last-child{border:none;}
            }
        }
        .two_block{
            padding-bottom:40px;
            .one_b{
                width:594px;height:160px;margin-right:10px;border:1px solid #fff;background-color:
                #fff;display: block;float:left;text-align:center;border-radius:10px;
                img{margin:20px 0;}
                .p1{font-size:18px;margin-top:5px;color:#333;}
                .p2{font-size:14px;margin-top:5px;color:#666;}
                &:hover{border:1px solid #3b9cdf}
            }
        }
    }
    .sup_bottom{
        .width_1210{padding:40px 0px;border-bottom: 1px dashed #dddddd;}
        .d1{font-size:20px;color:#333;float:left;}
        .d2{font-size:14px;float:right;line-height:35px;width:975px;
            a{color:#00549f;}
        }
    }
}

#detail{
    .det_top{
        .top_name{
            padding:15px 0 35px 0;border-bottom: 1px solid #cccccc;
            img{
                vertical-align:middle !important;
                &:first-child{margin:0 60px 0 189px;}
                &:last-child{transform:rotate(180deg)}
            }
            span{vertical-align:middle !important;
                color:#747474;font-size:24px;width:300px;line-height:45px;display: inline-block;
            }
        }
    }
    .det_top,.det_bottom{
        .top_title{
            padding:10px 0 15px 0;
            div{vertical-align: middle;width:15px;height:45px;background-color:#0a83d6;display:inline-block;}
            span{;color:#747474;font-size:24px;width:300px;;margin-left:15px;vertical-align: middle;}
        }
        .top_table{  }
    }
}

#detail{
    .detail_table{
        tr{
            display:block;margin-bottom:20px ;padding:0px;
        }
        tr.pbt{padding-top:20px;border-top:1px solid #cccccc;}
        tr.pbb{padding-bottom:30px;border-bottom:1px solid #ccc;margin-bottom:0px;}
        tr.pbb2{padding-bottom:40px;border-bottom:1px solid #ccc;margin-bottom:0px;}
        td{
            padding:0px;
            &:first-child{width:130px;color:#999;font-size:18px;line-height:25px;}
            &:nth-child(2){width:170px;color:#333;font-size:14px;line-height:19px;padding-right:10px;vertical-align:middle;}
            &:nth-child(3),&:nth-child(4),&:nth-child(5){width:296px;color:#999;font-size:12px;line-height:16px;vertical-align:middle;}
            &:nth-child(5){width:276px;}
        }
    }
}
#detail{
    .det_bottom{
        background-color:#f8f8f8;
        .zhankai{
            position:relative;
            .hidden{overflow: hidden;width:200px;display:block;margin:0 auto;}
           img{display:block;}
           .open{overflow: hidden;height:0px;width:100%;position:absolute;top:82px;left:0px;background-color:#f8f8f8;transition:2s linear ;}
            .go{height:0px;width:100px;transition:2s linear ;}
        }
        //.hidden:hover{ height:0px; transition:1s; }
        .hidden:hover{ .open{height:1520px;} }
        .hidden:hover{ .go{height:1520px;} }

    }
}

#detail{
    .beizhu_table{
        margin:10px 0 30px 0px;
        td{
            padding:0px;color:#999;
            &:first-child{width:130px;font-size:18px;vertical-align:top;}
            &:nth-child(2){width:170px;}
            &:nth-child(3),&:nth-child(4),&:nth-child(5){width:296px;font-size:12px;line-height:16px;}
            &:nth-child(5){width:276px;}
        }
    }
}

#summary{
    img{width:100%;}
}

